nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-theme {
    width: 300px;
    background-color: black;
    margin: 1rem;
    padding: 1rem;
}

.presentation {
    width: 70%;
    margin: auto;
}

