{% load static %}

<li>
  <article class="card" >
    <div class="card__inner is-flipped">
      <div class="card__face card__face--front">    
          <div>
              <h3>Citation</h3>
              <p>{{ character.citation }}</p>
              <a href="{% url 'characters-details-page' character.slug %}">Toutes les infos sur {{ character.name }}</a>
          </div>    
      </div>
      <div class="card__face card__face--back">
        <div class="card__content">
          <div class="card__header">
            <img
              src="{% static 'characters/images/'|add:character.image %}"
              alt="Photo de {{ character.name }}"
              class="pp"
            /> 
            <h2>{{ character.name }}</h2>
          </div>
          <div class="card__body">          
            <p>
              {{ character.excerpt }}
            </p>
            <p>Origine: {{ character.planet }}</p>
          </div>
        </div>
      </div>
    </div>
  </article>
</li>

