{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'characters/characters-list.css' %}">
{% endblock %}

{% block title %}
Les personnages de Stargate-SG-1
{% endblock %}

{% block content %}

<section id="characters-list">
    <h2>Les personnages de Stargate SG-1</h2>
    <ul>
        {% for character in characters %}
            {% include "characters/includes/card.html"%}
        {% endfor %}
    </ul>
</section>


{% endblock %}

{% block js_script %}
    <script src="{% static 'characters/js/card-flip.js' %}"></script>
    <link rel="stylesheet" href="{% static 'characters/characters-list.css' %}">
{% endblock %}