{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'characters/characters-details.css' %}">
{% endblock %}

{% block title %}
    {{ character.name }}
{% endblock %}

{% block content %}

<section id="summary" >
    <h2>{{ character.name }}</h2>
    <img src="{% static 'characters/images/'|add:character.image %}" alt="photo de {{ character.name }}" />
    <p>{{ character.excerpt }}</p>
</section>

<main>
    <p>{{ character.description }}</p>
</main>

{% endblock %}