{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'characters/characters-details.css' %}">
{% endblock %}

{% block title %}
    {{ character.name }}
{% endblock %}

{% block content %}

<section id="characters-details" >
        <img src="{% static 'characters/images/'|add:character.image %}" alt="photo de {{ character.name }}" />
        <div class="characters-details__text">
            <h2>{{ character.name }}</h2>
            <p>{{ character.excerpt }}</p>
            <p>{{ character.description }}</p>
        </div>
</section>


{% endblock %}