@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Quattrocento+Sans');

:root {
    --primary: #5900ff;
    --secondary: #2624a7;
    --dark: #212121;
    --light: #ebebeb;
  }

h1, h2, h3 {
    font-family: 'Orbitron', sans-serif;
}

html {
    font-family: 'Quattrocento Sans', sans-serif;
    background-color: var(--dark);
    color: var(--light);
}

body {
    margin: 0;
}

#main-navigation {
    background-image: linear-gradient(to right, var(--primary), var(--secondary));
    padding: 1rem 1rem 0 1rem;
    margin-bottom: 4rem;
}


a {
    text-decoration: none;
    color: var(--light);
}

.button {
    display: inline-block;
    padding: 0.5rem;
    margin: 1rem 0;
    border-radius: 0.2rem;
    background-color: var(--light);
    color: var(--primary);
    font-weight: bold;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}


footer {
    background-image: linear-gradient(to right, var(--primary), var(--secondary));
    padding: 2rem;
    margin-top: 4rem;
}

footer div {
    margin: 1rem;
}

@media (min-width: 600px) { 
    header {
        display: flex;
        justify-content: space-evenly;
    }

    .summary {
        width: 30%;
    }

 
    footer {
        display: flex;
        justify-content: space-around;
    }

    footer div {
        box-sizing: border-box;
        width: 33%;
    }
}