{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'app.css' %}">
    {% block css_files %}{% endblock %}
</head>
<body>
    <header id="main-navigation">
        <img src="{% static 'images/teamSG1.png' %}" alt="logo Stargate SG-1 1998 - 2022" />
        <section class="summary">
            <h1><a href="/">Stargate SG-1 - 98-22</a></h1>
            <p>En 1998, je me passione pour la série Stargate SG-1. J'étais au collège. Je me lance dans la conception de mon tout premier site web, à coup de < table >, de backgrounds kitshes et liens moches.</p>
            <p>L'heure du retour arrive ! Je devais faire honneur à mon premier site web, en réalisant une version plus actuelle !</p>
            <button>Découvrir le site de 1998</button>
        </section>
    </header>

    {% block content %}
    {% endblock %}

    {% block js_script %}
    {% endblock %}
</body>
</html>