{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'app.css' %}">
    {% block css_files %}{% endblock %}
</head>
<body>
    <header id="main-navigation">
        <img src="{% static 'images/teamSG1.png' %}" alt="logo Stargate SG-1 1998 - 2022" />
        <section class="summary">
            <h1><a href="/">Stargate SG-1 - 98-22</a></h1>
            <p>En 1998, je me passionne pour la série Stargate SG-1. J'étais au collège. Je me lance dans la conception de mon tout premier site web, à coup de < table >, de backgrounds kitsh et de liens moches.</p>
            <p>L'heure du retour arrive ! Je devais faire honneur à mon premier site web, en réalisant une version plus actuelle !</p>
            {% include "includes/button.html" with text="Découvrez le site de 1998" url="http://alex.derson.free.fr/" %}
        </section>
    </header>

    {% block content %}
    {% endblock %}

    {% block js_script %}
    {% endblock %}

    <footer>
        <div>
            <h3>C'est quoi ce site ? </h3>
            <p>Ce site est un projet me servant avant tout d'exercice pour découvrir le framework Django. Il est donc constamment en cours d'évolution. Vous pouvez trouver le code source sur mon github. </p>
            
            {% include "includes/button.html" with text="GitHub" url="https://github.com/Alekiel42/stargate-98-22" %}
        </div>
        <div>
            <h3>A propos de moi</h3>
            <p>Je suis développeuse fullstack. J'ai débuté ma formation avec Javascript pour le frontend et le backend (nodejs). Aujourd'hui je m'ouvre vers une nouvelle technologie assez riche : python et son framework Django. </p>
            {% include "includes/button.html" with text="Mon portfolio" url="https://alexandrabercoff.com" %}
        </div>  
        <div>
            <h3>Est-ce toujours mon site sur Stargate SG-1?</h3>
            <p>Pour y répondre, je vais citer WandaVision - Episode 9</p>
            <p>"Tu connais l'experience du Bateau de Thésée sur la métaphysique de l'identité ? 
                Le bateau de Thésée est une pièce de musée. Au fil du temps, les planches pourries sont remplacées. Quand elles le sont toutes est-ce encore le bateau de Thésée ? Aussi, si ces planches sont nettoyées et réassemblées, est-ce encore le bateau de Thésée ? 
                Aucun des deux ne l'est, tous les deux le sont."</p>
            <p></p>
        </div>
    </footer>
</body>
</html>